In [1]:
import aanalytics2 as api2

# SETUP

In [2]:
api2.importConfigFile("config_analytics_api.json")

In [3]:
cids = api2.getCompanyId()
cids

[{'globalCompanyId': 'schibs1',
  'companyName': 'Schibsted Spain',
  'apiRateLimitPolicy': 'aa_api_tier10_tp',
  'dpc': 'lon'}]

In [4]:
select_id = cids[0]['globalCompanyId']
select_id

'schibs1'

In [5]:
api2.updateHeader(select_id)

In [6]:
cid = api2.getCompanyId(infos='0')

In [7]:
cid

'schibs1'

# get report suites

In [8]:
rsids = api2.getReportSuites()

In [9]:
rsids

                                      name                                rsid
0                   Group Schibstedes Prod  schibstedspaingroupschibstedesprod
1                       Jobs ePreselec Dev      schibstedspainjobsepreselecdev
2                      Jobs ePreselec Prod     schibstedspainjobsepreselecprod
3                  (RAW) Jobs Infojobs Dev       schibstedspainjobsinfojobsdev
4             (RAW) Jobs InfojobsItaly Dev  schibstedspainjobsinfojobsitalydev
..                                     ...                                 ...
73  RealEstate Fotocasa Web Prod (Virtual)  vrs_schibs1_realestatefotocasawe_0
74                   RealEstate Habitaclia                   vrs_schibs1_hball
75               RealEstate Habitaclia Web                   vrs_schibs1_hbweb
76           RealEstate Habitaclia Android               vrs_schibs1_hbandroid
77               RealEstate Habitaclia IOS                   vrs_schibs1_hbios

[78 rows x 2 columns]

# get dimensions

In [10]:
dimensions = api2.getDimensions('schibstedspainjobsinfojobsdev')
dimensions

,id,name,category,type,parent,pathable,description
0,variables/averagepagetime,Time Spent on Page - Bucketed,Metrics,ordered-enum,NaN,False,NaN
1,variables/browser,Browser,Audience,string,NaN,False,NaN
2,variables/browserheight,Browser Height - Granular,Audience,int,NaN,False,NaN
3,variables/browserheightbucketed,Browser Height - Bucketed,Audience,ordered-enum,NaN,False,NaN
4,variables/browsertype,Browser Type,Audience,enum,NaN,False,NaN
...,...,...,...,...,...,...,...
349,variables/visitpagenum,Visit Page Number,NaN,int,NaN,False,NaN
350,variables/visitstarttimegmt,Visit Start Time UTC,NaN,time,NaN,False,NaN
351,variables/weeklyuniquecustomers,Weekly Unique Customers,Customers,int,NaN,False,NaN
352,variables/yearlyuniquecustomers,Yearly Unique Customers,Customers,int,NaN,False,NaN
353,variables/zip,Zip Code,Audience,string,NaN,False,NaN

# get report JSON - ex: audiences

In [11]:
report = api2.getReport('request_1.json')

In [12]:
report

{'dimension': 'variables/mcaudiences.1',
 'filters': {'globalFilters': ['2020-03-19T00:00:00.000/2020-03-26T00:00:00.000'],
  'metricsFilters': {'metrics/visitors': {'s2165_5ce2aa77c0fdcb1990ad2326'}}},
 'rsid': 'vrs_schibs1_jobsinfojobs',
 'metrics': ['metrics/visitors'],
 'data':         variables/mcaudiences.1  metrics/visitors
 0     Users_logged_Infojobs web         1008107.0
 1  Users_logged_Milanuncios web          175669.0
 2     Users_logged_Fotocasa web          103348.0
 3       Users_logged_Coches_web           63184.0}

In [13]:
report['data']

        variables/mcaudiences.1  metrics/visitors
0     Users_logged_Infojobs web         1008107.0
1  Users_logged_Milanuncios web          175669.0
2     Users_logged_Fotocasa web          103348.0
3       Users_logged_Coches_web           63184.0