< [Online Version Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook)| [Menu](https://)>
# 3. Data Manipulation with Pandas 
* [Introducing Pandas Objects](https://github.com/lsalamo/python-training/blob/master/PythonDataScienceHandbook/3.1.%20Data%20Manipulation%20with%20Pandas%20-%20%20Introducing%20Pandas%20Objects.ipynb)
* [Data Manipulation with Pandas - CRUD (Create, Read, Update and Delete)](https://github.com/lsalamo/python-training/blob/master/PythonDataScienceHandbook/3.2.%20Data%20Manipulation%20with%20Pandas%20-%20CRUD%20(Create%2C%20Read%2C%20Update%20and%20Delete).ipynb)
* [Missing Data](https://github.com/lsalamo/python-training/blob/master/PythonDataScienceHandbook/3.3.%20Data%20Manipulation%20with%20Pandas%20-%20Missing%20Data.ipynb)

In [2]:
import pandas as pd
import numpy as np

The following table lists Python operators and their equivalent Pandas object methods:

Python Operator | Pandas Method(s)
--------------- | ---------------
+ | add()
- | sub(), subtract()
* | mul(), multiply()
/ | truediv(), div(), divide()
// | floordiv()
% | mod()
** | pow()

### UFuncs (NumPy Universal Functions): Index Alignment

#### Index alignment in Series

In [13]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [10]:
A.index | B.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [12]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

#### Index alignment in DataFrame

In [110]:
df = pd.DataFrame(
    np.array([np.nan, 4, 6, np.nan]),
    columns=['A']
)
df

     A
0  NaN
1  4.0
2  6.0
3  NaN

In [111]:
df.fillna(0)

     A
0  0.0
1  4.0
2  6.0
3  0.0

In [112]:
df.fillna("missing")

         A
0  missing
1        4
2        6
3  missing

In [113]:
df.fillna(df.mean())

     A
0  5.0
1  4.0
2  6.0
3  5.0

In [135]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A = pd.DataFrame(A)
B = pd.DataFrame(B)
A + B

     0
0  NaN
1  5.0
2  9.0
3  NaN

In [123]:
# Fill specific value
df['Sum'] = A.add(B, fill_value=0);df[['Sum']]
df = pd.concat([A, B], axis=1).fillna(0);df['Sum'] = df.sum(axis=1);df[['Sum']]

   Sum
0  2.0
1  5.0
2  9.0
3  5.0

In [26]:
# Fill with a function
fill = A.stack().mean()
A.add(B, fill_value=fill)

     0
0  6.0
1  5.0
2  9.0
3  9.0

In [127]:
df = pd.concat([A, B], axis=1).fillna(0)
df.columns = ['$a', '$b']
df - df.iloc[0]

    $a   $b
0  0.0  0.0
1  2.0  1.0
2  4.0  3.0
3 -2.0  5.0

In [146]:
# df = pd.concat([A, B], axis=1)
# df.subtract(df['R'], axis=0)
pd.concat([A, B], axis=1)
df.columns = ['$a', '$b']
df
df.subtract(df['$a'], axis=0)

    $a   $b
0  0.0  NaN
1  0.0 -3.0
2  0.0 -3.0
3  NaN  NaN

In [34]:
A.stack()

0  0    2
1  0    4
2  0    6
dtype: int64